body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.container1 {
  max-width: 1000px;
  width: 100%;
}

.certificate {
  background: white;
  padding: 60px;
  border: 10px solid #1d938a;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.titulo .tit1 {
  color: #1d938a;
  font-size: 3rem;
  margin-bottom: 0;
}

.titulo .tit2 {
  font-size: 1.8rem;
  margin-top: 0;
}

.otor1 {
  margin-top: 20px;  
  margin-bottom: 40px; /* Menor espacio hacia otor2 */
}

.otor2 {
  margin-bottom: 0px; /* Mayor espacio hacia otor3 */
}

.texto .tex1 {
  font-size: 1.1rem;
  margin: 30px 0;
}

.firmas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.firm1 {
  width: 80px;
  margin-bottom: 10px;
}

.firm3 {
  font-size: 1rem;
  font-weight: bold;
}

.logo-certificado {
  margin-top: 30px;
}

.logo-img {
  width: 200px;
}

.btn-descargar {
  background-color: #1d938a;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.btn-descargar:hover {
  background-color: #136f66;
}
